*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    background: black;
    color: #fff;
    padding: 10px 10px;
}
.navbar{
    background: linear-gradient(to right, blueviolet, rgb(157, 32, 157));
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
}
.logo{
    color: white;
    font-size: 2rem;
    font-weight: 900;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links a{
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    color: white;
    transition: all 1s;
}
.links a:hover{
    background-color: white;
    color: black;
}
.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.aboutpage{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.companypage{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.container1{
    margin-top: 200px;
    max-width: 800px;
    border: 1px solid white;
    border-radius: 19px;
    padding: 20px;
    text-align: center;
}
.container2{
    margin-top: 200px;
    max-width: 800px;
    border: 1px solid white;
    border-radius: 19px;
    padding: 20px;
    text-align: center;
}
.container1 h1{
    font-size: 4rem;
    font-weight: 900;
}
.container2 h1{
    font-size: 4rem;
    font-weight: 900;
}
.container1 h2{
    font-size: 2rem;
    font-weight: 500;
}
.container2 h2{
    font-size: 2rem;
    font-weight: 500;
}
.container1 button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(to right, blueviolet, purple);
    border: none;
    border-radius: 35px;
    color: white;
    cursor: pointer;
}
.container2 button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(to right, blueviolet, purple);
    border: none;
    border-radius: 35px;
    color: white;
    cursor: pointer;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(34px);
    border-top: 1px solid white;
}
.copyright a{
    color: blueviolet;
    text-decoration: none;
}
#time{
    color: blueviolet;
    font-weight: bold;
}
#home{
    height: 100vh;
}
#about{
    height: 100vh;
}
#company{
    height: 100vh;
}